.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat Brush", cursive; 
}

body {
  background-color: #7FB5B5;
}

nav {
  width: 99%;
  height: 100px;
  background-color: #6F4F28;
  background-image: url("../images/border wood.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  border-color: #e8cca9;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: end;
}
