.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat Brush", cursive; 
}

body {
  display: flex;
  justify-content: ;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #7FB5B5;;
  padding: 0.09%, 0.09%;
}

nav {
  position: relative;
  width: 99%;
  height: 100px;
  background-color: #6F4F28;
  background-image: url("border wood.png");
  border-radius: 10px;
  border-color: #e8cca9;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: end;
  align-items: top
  
}

nav button {
  background-color: transparent;
  border: none;
  color: #e8cca9;
  font-size: 45px;
  cursor: pointer;
  margin: 0 3px;
  padding: 0.001% 4%;
  justify-content: end;
}

nav span {
  position: absolute;
  top: 0;
  left: 15px;
  transition: 5s ease-in;
}

nav button:hover{
  width: 115px;
  height:100%;
  background-color: #008F39;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

nav h1{
  position: absolute;
  left: 15px;
  top: 10px;
  color: #e8cca9;
  font-size: 70px;
}

.trees {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 10px;
  justify-content: center;
  align-items: center;
}

.trees.png {
  width: 50px;
  height: 100%;
}

.pond {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  bottom: 0px;
  position: absolute;
}